@import url(reset.css);

/* Косметика - добавить везде курсор, сделать ховера, выровняьт шары */

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    

    
}
/* .Separator{
    display: flex;
    justify-content: start;
} */

/* Суём туда картинку, чтобы не засорять боди */
header{
    background-image: url('./Images/Header_boots.jpg');
    background-color: #3a0767;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    display: inline-block;
}

/* Нужен чтобы сделать отступ вем элементам хэдера */
.header_wrapper{
    margin-left: 160px;
    margin-right: 160px;
    max-width: 1180px;
    max-height: 910px;
    height: 910px;
}
/* Ограничиваем высоту и ширину чтобы не вылезти за рамки и следить за вёрсткой */
#Header_div{
    display: flex;
    flex-direction: row;
    margin-bottom: 200px;
    justify-content: space-between;
    margin-top: 70px;
}

#header_button{
    width: 125px;height: 50px;
    background-color:#a100ff;
    color:white;
    font-weight: bold;
    font-family:"Gotham" ;
    font-size:16px ;
    border: none;
    border-radius: 3px;
}
#header_button img{
    margin-left: 10px;
}
#header_button:hover,
#header_button:focus{
    background-color:#9905ef;
}
/*Наследуем флекс*/
nav{
    display: inherit;
    align-items: center;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
nav ul li{ 
    margin-right: 40px;
}
nav ul li a{
    text-decoration: none;
    margin-bottom: 30px;
}

/* Код с сайта: https://moguta.ru/blog/delaem-internet-magazin-vmeste/plavnoe-podchyorkivanie-ssylki-pri-navedenii */
nav ul li a:after {
	display: block;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 3px; /*задаём ширину линии*/
    
	background-color: #28c8c6; /*задаём цвет линии*/
	content: "";
	transition: 0.3s ease-in-out; /*задаём время анимации*/
}

nav ul li a:hover:after,
nav ul li a:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

/*Класс для заголовков - в последующем будет применяться с изменением цвета и размера фонта*/
.Text{
    font-family: "Gotham";
    font-weight: bold;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 25px;
}

.Header_LeftForm{
    justify-content: start;
    
}
.Header_LeftForm_Text{
    max-height: 50px;
    font-family: "Gotham";
    font-size: 16px;
    color:white;
    font-weight: 600;
    max-width: 520px;
}
.Header_LeftForm p{
    line-height: 24px;
    overflow: hidden;
    margin-bottom: 30px;
}
.Header_LeftForm h1{
    margin-bottom: 50px;
    text-transform: uppercase;
    font-family: "Montserrat";
    font-size: 60px;
    color:white;
    font-weight: bold;
    line-height: 55px;

}
.Header_LeftForm form{
    display: flex;
    flex-direction: row;
    justify-content: start;
    max-width: 640px;
}
.Input{
    margin-right: 20px;
    border-radius: 4px;
    width: 280px;
    height: 60px;
    max-width: 280px;
    max-height: 60px;
    font-family: "Montserrat";
    font-size: 14px;
    padding-left: 25px;
    border: none;
}
.Register{
    background-color:#28c8c6;
    width: 65px;height: 60px;
    border-radius: 4px;
    display: flex;
    align-items:center;
    justify-content: center;
}
.Input::placeholder{
    padding-left: 25px;
    color:#333333;
}
#Design_Style{
    width: calc(280px*1);
    height: 65px;
    max-width: calc(280px*1);
    max-height: 65px;
    display: block;
    position: relative;
}
#Design_Style::after {
    content:url(./Images/round_arrow_bottom.png);
}
.Background_phone{
    background:#fff url(./Images/phoneback-20opacity.png);
}
.Main{
    /* max-width: 1180px; */
    margin-left: 160px;
    margin-right: 160px;
    display: flex;
    text-align: center;
    justify-content: center;flex-direction: column;
    margin-top: 55px;
    opacity: 1;
    
    
}
.Phone_Top{
    max-height: 540px;
    overflow: hidden;
    
}
.Phone_Top .Text{
    color: #333b42;
    font-size: 40px;
    margin-top: 70px;
    margin-bottom: 35px;
}
.Phone_Top .Header_LeftForm{
    line-height: 25px;
    overflow: hidden;
    margin-bottom: 30px;
    font-size: 14px;
    color: #74797e;
    max-width: 650px;
    display: inline-block;
    font-weight: medium;
    font-family: "Gotham";
}

/* Left помогает выровнять по центру */
.round{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left:45%;
    top:925px;
    width: 114px;
    height: 114px;
    border-radius: 50%;
    background-color: white;
}
/* Создаём бирюзовый кружок и добавляет к нему в высоту высоту нашего блока */
#green_round{
    top: 1507px;
    left:45%;
    /* top:calc(925px+580px); */
    background-color: #28c8c6;
}
.Features-content{
    max-height: 780px;
    height:780px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align: center;
}
.Features-h3, .Features-content .Features-list-item-p{
    font-family: Montserrat;
    font-weight: bold;
    line-height: 29px;
    font-size: 30px;
    text-transform: uppercase;
    color:#333b42;
    margin-bottom: 30px;
    max-width: 400px;
}

.Features-content .Features-list-item-p{
    font-family: Gotham;
    font-size: 17px;
}

.Features-text{
    max-width: 650px;
    max-height: 50px;
    overflow: hidden;
    color:#74797e;
    font-family: Gotham;
    font-size: 14px;
    line-height: 25px;
    font-weight: medium;
}
.Features-list{
    margin-top: 60px;
    columns:4;
}
.Features-list .Features-list-item{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;
}
.Features-content .Features-list-item-icon{
    display: flex;
    align-items:center;
    justify-content: center;
    text-align: center;
    height: 125px;
    width: 125px;
    border-radius:50%;
    background-color:#8500d2;
}

.Features-content .Features-list-item .Features-text{
    max-width: 280px;
    max-height: 100px;
}

.round_bottom{
    position: absolute;
    margin-left:0%;
    top:2290px;
    width: 114px;
    height: 114px;
    border-radius: 50%;
    background-color: white;
}

.Design-guidelines{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items:center;
    background-color:#f6f9fa;
    padding-bottom: 100px;
}

.Design-guidelines h3, .Design-guidelines .Features-text{
    max-width: 900px;
    margin-top: 80px;
}
.Design-guidelines h3{
    margin-bottom: 25px;
}
.Design-guidelines .Features-text{
    margin-top: 0;
    margin-bottom: 45px;
}
.Design-guidelines-buttons{
    columns: 4;
    display: flex;
    margin-bottom: 55px;
}
.Design-guidelines-buttons button{
    height: 60px;
    width: 170px;
    margin: 0;
    background-color:white;
    border: #28c8c6 solid 1px;
    border-left: 0px;
    color:#28c8c6;
    text-transform:uppercase;
    font-size: 14px;
    font-family: Gotham;
    font-weight: bold;
    line-height: 29px;
    transition: ease-in-out 0.4s;
}
.Design-guidelines-buttons button:hover{
    background-color:#28c8c6;
    color:white;
}
/* Дело в том, что наш бордер становится 2 px как только мы их схлопываем с помощью флекса,
А нам нужно его добавить чтобы не удалять у первого эл. левую границу */
.Design-guidelines-buttons li:first-child button{
    border: #28c8c6 solid 1px;
}

.Design-guidelines-listings{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items:center;
    flex-direction: row;
    columns: 3;
}
.Design-guidelines-listings-item{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    width: 30%;
}
.Design-guidelines-listings-img{
    max-height: 250px;
    border-radius: 5px 5px 0px 0px;
}
.Design-guidelines-listings-button{
    max-width: 380px;
    max-height: 70px;
    height: 70px;
    width: 380px;
    background-color:white;
    color:#333b42;
    border:none;
    border-radius:0px 0px 5px 5px ;
    font-family: "Montserrat";
    font-size: 14px;
    text-transform:uppercase;
    line-height: 25px;
}
.Design-guidelines-listings-button img{
    position: absolute;
    padding-left: 70px;
    padding-right: 50px;
    padding-top: 4px;

}
.Ending-title
{
    display: flex;
    text-align: start;
    flex-direction: column;
    justify-content: center;
    align-items:start;
    height: 870px;
    max-height: 870px;
    background:url(./Images/Gradient-Map-bg.jpg) top no-repeat;
    width: 100%;
    z-index: -2;
}

/* Почему 1000? Я хз почему по-другому он не робит */
.Ending-title .Header_LeftForm{
    display: flex;
    flex-direction: row;
    max-width: 1000px;
}
.Ending-title .Header_LeftForm h1{
    max-width: 540px;
    margin-bottom: 40px;
}
.Ending-title .Header_LeftForm_Text{
    max-width: 540px;
}
.Ending-arrow-logo{
    margin-right: 40px;
}
.Footer{
    max-height: 1050px;
    padding-bottom:100px
}

/* z-index помогает нам не иметь возможности выделить макбук а также перекрывать
бэкграунд предыдущий+ не накладываться сверху на твит-шер кнопки */
.MacBook{
    z-index: -1;
    position: absolute;
    top:3450px;
    right:1px;
    overflow: hidden;
}
.Footer{
    color:#8297a7;
    font-family: "Montserrat";
    font-size: 12px;
    line-height: 35px;
    display: flex;
    justify-content: space-between;
}
.Footer a{
    text-decoration: none;
    color:#8297a7;
}
.Footer-Left{
    margin-top: 770px;
}
.Footer-Right{
    margin-top: 700px;
    text-align: right;
}

/* Устанавливаем такую высоту и колумн филл для того, чтобы в нашем списке
первые 4 эелмента стояли слева остальные справа */
.Footer-Info{
    -webkit-column-count:2;  
    -moz-column-count:2;  
    height: 150px;
    column-count:2; 
    column-gap: 70px;
    column-fill:auto;
    margin-bottom: 15px;

}
.Footer-Right button{
    color:white;
    border-radius: 3px;
    border: none;
    height:35px ;
    width: 95px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    line-height: 35px;
    font-size: 13px;
    z-index: 10;
    
}
.Footer-Right button img{
    margin-right: 5px;
}
.Tweet{
    background-color:#69b6f2;
}
.Share{
    background-color:#3a579a;
    margin-bottom:35px;
}

@media (max-width:900px){

}